<h1>Welcome to StarterTrybe!</h1>
<h2>Pitch an idea, get feedback, form a team, and launch your business</h2>
<p>StarterTrybe is an online community to cultivate new ideas into strong businesses.</p>
